body
{
    background: #333;
}
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  font-size: 16px;
  cursor: pointer;

    width: 123px;
    height: 51px;
   
 

    
}

.button:hover {
  background-color: green;
}
div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 20px;
  font-size: 20px;
    color: white;
 align-content: center;
       margin: auto;
    background-color: #333;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 27%;
   background-color: black;
   color: white;
   text-align: center;
}
.card {
  box-shadow: 0 40px 80px 0 rgba(0, 0, 0, 0.2);
  max-width: 420px;
  margin: auto;
  text-align: center;
  font-family: arial;
    background: white;
border: 5px solid ; 


}
.all , .all1, .all2, .all3, .all4
{
    display: flex;
}
.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.topnav {
  background-color: #333;
  overflow: hidden;
    margin: auto;
   display: block;  
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
.containerz {
  position: relative;
  width: 100%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.containerz:hover .image {
  opacity: 0.3;
}

.containerz:hover .middle {
  opacity: 1;
}
.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;

}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.container {
  border-radius: 5px black;
  background-color: white;
  padding: 5px;
    width: 81.75%;
    height:800px;
    float: inherit;
background-color: black;
    margin: auto;
    color: white;
}

/* Create two columns that float next to eachother */
.column {
  
  width: 50%;
  margin-top: 6px;
  padding: 20px;
    margin: auto;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
    margin: auto;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}ssssssssss